@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color-dark: #00252E;
    --color-gray: #808E9A;
    --color-pink: #FF52C1;
    --color-pink-light: #FF9ADB;
    --color-blue-light: #EDFBFF;
}

body,
* {
    font-family: "Open Sans", serif;
    color: var(--color-dark);
}

h1,
h2,
h3 {
    font-family: "Poppins", serif;
}

.container {
    width: 90%;
    max-width: 1270px;
    margin-inline: auto;
}

header {
    padding-top: 68px;
    padding-bottom: 72px;
    background: url('assets/images/bg-hero-desktop.svg');
    background-color: var(--color-blue-light);
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    height: 31px;
    width: auto;
}

header a {
    box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.09);
    border-radius: 24px;
    background-color: white;
    height: 48px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 14px;
    color: var(--color-dark);
}

header section.hero {
    padding-top: 71px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header section.hero>div {
    max-width: 536px;
}

header section.hero h1 {
    font-size: 40px;
    line-height: 60px;
    font-weight: 600;
}

header section.hero p {
    font-size: 18px;
    line-height: 27px;
    margin-top: 32px;
    margin-bottom: 32px;
}

header section.hero a {
    font-size: 14px;
    font-weight: 700;
    color: white;
    background-color: var(--color-pink);
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 280px;
}

header section.hero img {
    width: 50%;
    height: auto;
}

.features {
    padding-top: 160px;
    padding-bottom: 344px;
}

.features .feature_item {
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.07);
    background: #FFFFFF;
    border-radius: 16px;
    padding: 53px 32px 53px 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.features .feature_item:not(:last-child) {
    margin-bottom: 40px;
}

.features .feature_item>div {
    max-width: 488px;
}

.features .feature_item h3 {
    font-size: 28px;
    font-weight: 600;
    line-height: 42px;
    margin-bottom: 16px;
}


.features .feature_item p {
    font-size: 18px;
    line-height: 27px;
    color: var(--color-gray);
}

.features .feature_item img {
    width: 50%;
    max-width: 406px;
}

.features .feature_item:nth-child(even) {
    flex-direction: row-reverse;
}